// @tailwind base;
// @tailwind components;
// @tailwind utilities;
@layer tailwind-base, primevue, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

//自定義主題色-可以讓 .vue檔案內的style lang='scss' 內取得這些變數
$primary-50: #fffbec;
$primary-100: #fff6d4;
$primary-200: #ffe9a7;
$primary-300: #ffd870;
$primary-400: #ffbb36;
$primary-500: #ffa40f;
$primary-600: #fa8c05;
$primary-700: #c86706;
$primary-800: #9e500e;
$primary-900: #7f420f;
$primary-950: #452005;

//輔色-1
$secondary-50: #fbf8f1;
$secondary-100: #f5eedf;
$secondary-200: #ebdbbd;
$secondary-300: #ddc194;
$secondary-400: #d5ad7b;
$secondary-500: #c5894a;
$secondary-600: #b7753f;
$secondary-700: #985d36;
$secondary-800: #7b4c31;
$secondary-900: #643f2a;
$secondary-950: #351f15;

//輔色-2
$tertiary-50: #fefee7;
$tertiary-100: #fcfccb;
$tertiary-200: #f6f89e;
$tertiary-300: #ebf165;
$tertiary-400: #dce536;
$tertiary-500: #c3d018;
$tertiary-600: #95a20e;
$tertiary-700: #707b10;
$tertiary-800: #586113;
$tertiary-900: #4a5314;
$tertiary-950: #272e05;

//錯誤色
$error-50: #fef2f2;
$error-100: #fee3e2;
$error-200: #feccca;
$error-300: #fca8a5;
$error-400: #f87671;
$error-500: #ef4b44;
$error-600: #de3730;
$error-700: #b9221c;
$error-800: #99201b;
$error-900: #7f211d;
$error-950: #450c0a;

//neutral
$neutral-50: #ffffff;
$neutral-100: #efefef;
$neutral-200: #dcdcdc;
$neutral-300: #dbdbdb;
$neutral-400: #989898;
$neutral-500: #7c7c7c;
$neutral-600: #656565;
$neutral-700: #525252;
$neutral-800: #464646;
$neutral-900: #3d3d3d;
$neutral-950: #292929;
